# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Node / Frontend dependencies
node_modules/ 
dist/
dist-ssr/
*.local
#Python / Backend dependencies and virtual environments
backend/venv/
venv/
ENV
env/
__pycache__/
*.py[code]
*$py.class
# Environment configurations and secrets
.env
.env.*

# System / Editor files
.DS_Store
Thumbs.db
